body {
  margin: 0;
  padding: 0;
  width: 100%;
  background: linear-gradient(to right, #2980b9, #6dd5fa, #ffffff);
}

#root {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 100px;
}
