.button {
    border-width: 0;
    border-radius: 1px;
    width: 25px;
    background-color: white;
    margin-right: 5px;
    margin-top: 5px;
    padding: 4px 3px;
}

.button:hover {
    background-color: #eee;
    cursor: pointer;
}

.button-active {
    background-color: #ddd;
}